{% extends 'base.html' %}
{% block title %}Developers{% endblock title %}
{% block body %}
<h3>
    Contributions to build this project: 
</h3>

<div>
    <div class="ag-format-container">
        <div class="ag-courses_box">
          <div class="ag-courses_item">
            <a href="#" class="ag-courses-item_link">
              <div class="ag-courses-item_bg"></div>
      
              <div class="ag-courses-item_title">
                Data Collection and Pre-Processing
              </div>
      
              <div class="ag-courses-item_date-box">
                by:
                <span class="ag-courses-item_date">
                  Pushpanjali Bhardwaj
                </span>
              </div>
            </a>
          </div>
      
          <div class="ag-courses_item">
            <a href="#" class="ag-courses-item_link">
              <div class="ag-courses-item_bg"></div>
      
              <div class="ag-courses-item_title">
                Data Augmentation
              </div>
      
              <div class="ag-courses-item_date-box">
                By:
                <span class="ag-courses-item_date">
                  Sameer Dewangan
                </span>
              </div>
            </a>
          </div>
      
          <div class="ag-courses_item">
            <a href="#" class="ag-courses-item_link">
              <div class="ag-courses-item_bg"></div>
      
              <div class="ag-courses-item_title">
                Feature Extraction using CNN
              </div>
      
              <div class="ag-courses-item_date-box">
                By:
                <span class="ag-courses-item_date">
                  Suraj Yadav
                </span>
              </div>
            </a>
          </div>
      
          <div class="ag-courses_item">
            <a href="#" class="ag-courses-item_link">
              <div class="ag-courses-item_bg"></div>
      
              <div class="ag-courses-item_title">
                Sequence Modelling using LSTM
              </div>
      
              <div class="ag-courses-item_date-box">
                By:
                <span class="ag-courses-item_date">
                  Chetan Saini
                </span>
              </div>
            </a>
          </div>
      
          <div class="ag-courses_item">
            <a href="#" class="ag-courses-item_link">
              <div class="ag-courses-item_bg"></div>
      
              <div class="ag-courses-item_title">
                Training the Model
              </div>
      
              <div class="ag-courses-item_date-box">
                By:
                <span class="ag-courses-item_date">
                  Kamal
                </span>
              </div>
            </a>
          </div>
      
          <div class="ag-courses_item">
            <a href="#" class="ag-courses-item_link">
              <div class="ag-courses-item_bg"></div>
              <div class="ag-courses-item_title">
                Hyper-parameter Tuning
              </div>
              <div class="ag-courses-item_date-box">
                By:
                <span class="ag-courses-item_date">
                  Prashant Mishra
                </span>
              </div>
            </a>
          </div>
      
          <div class="ag-courses_item">
            <a href="#" class="ag-courses-item_link">
              <div class="ag-courses-item_bg">
              </div>
              <div class="ag-courses-item_title">
                Evaluation
              </div>
              <div class="ag-courses-item_date-box">
                By:
                <span class="ag-courses-item_date">
                  Akash Sharma
                </span>
              </div>
            </a>
          </div>
      
          <div class="ag-courses_item">
            <a href="#" class="ag-courses-item_link">
              <div class="ag-courses-item_bg"></div>
      
              <div class="ag-courses-item_title">
                Deployment
              </div>
      
              <div class="ag-courses-item_date-box">
                By:
                <span class="ag-courses-item_date">
                  Yash Chauhan
                </span>
              </div>
            </a>
          </div>
      
        </div>
      </div>
</div>

{% endblock body %}